/* $spinner */
/* success */
/* $border-invalid */
/* border_color */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 14px; }

/* Sections
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1rem;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1rem;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25rem; }

sup {
  top: -0.5rem; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35rem 0.75rem 0.625rem; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  margin: 0;
  font-size: 1rem;
  color: #2C3038;
  font-family: Nunito Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  background: #ffffff; }

p {
  font-size: 1rem; }

h1 {
  font-size: 2rem;
  margin: 0.67em 0; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

@font-face {
  font-family: 'Nunito Sans';
  src: url("~bech-estilos/assets/fonts/nunito_sans/NunitoSans-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Nunito Sans';
  src: url("~bech-estilos/assets/fonts/nunito_sans/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Nunito Sans';
  src: url("~bech-estilos/assets/fonts/nunito_sans/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Nunito Sans';
  src: url("~bech-estilos/assets/fonts/nunito_sans/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Nunito Sans';
  src: url("~bech-estilos/assets/fonts/nunito_sans/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
/* ICONOS */
@font-face {
  font-family: 'BECH';
  src: url("~bech-estilos/assets/fonts/iconos/BECH.eot?lxqpa3");
  src: url("~bech-estilos/assets/fonts/iconos/BECH.eot?lxqpa3#iefix") format("embedded-opentype"), url("~bech-estilos/assets/fonts/iconos/BECH.ttf?lxqpa3") format("truetype"), url("~bech-estilos/assets/fonts/iconos/BECH.woff?lxqpa3") format("woff"), url("~bech-estilos/assets/fonts/iconos/BECH.svg?lxqpa3#BECH") format("svg");
  font-weight: normal;
  font-style: normal; }
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'BECH' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bech_calculator:before {
  content: "\e900"; }

.bech_camera_video:before {
  content: "\e901"; }

.bech_camera:before {
  content: "\e902"; }

.bech_cell_hand:before {
  content: "\e903"; }

.bech_cell_phone:before {
  content: "\e904"; }

.bech_computer:before {
  content: "\e905"; }

.bech_headphones:before {
  content: "\e906"; }

.bech_microphone:before {
  content: "\e907"; }

.bech_printer:before {
  content: "\e908"; }

.bech_screen_star:before {
  content: "\e909"; }

.bech_screen:before {
  content: "\e90a"; }

.bech_chart_arrow:before {
  content: "\e90b"; }

.bech_chart_bar:before {
  content: "\e90c"; }

.bech_chart_circle:before {
  content: "\e90d"; }

.bech_facebook:before {
  content: "\e90e"; }

.bech_google_mas:before {
  content: "\e90f"; }

.bech_instagram:before {
  content: "\e910"; }

.bech_linkedin:before {
  content: "\e911"; }

.bech_pinterest:before {
  content: "\e912"; }

.bech_twitter:before {
  content: "\e913"; }

.bech_whatsapp:before {
  content: "\e914"; }

.bech_youtube:before {
  content: "\e915"; }

.bech_add_user2:before {
  content: "\e916"; }

.bech_contacts2:before {
  content: "\e917"; }

.bech_domain2:before {
  content: "\e918"; }

.bech_emoticons_angry2:before {
  content: "\e919"; }

.bech_emoticons_astonished:before {
  content: "\e91a"; }

.bech_emoticons_happy:before {
  content: "\e91b"; }

.bech_emoticons_sad2:before {
  content: "\e91c"; }

.bech_emoticons_shame2:before {
  content: "\e91d"; }

.bech_emoticons_sleepy2:before {
  content: "\e91e"; }

.bech_emoticons_smile_more2:before {
  content: "\e91f"; }

.bech_emoticons_smile2:before {
  content: "\e920"; }

.bech_emoticons_very_sad2:before {
  content: "\e921"; }

.bech_emoticons_very_satisfied2:before {
  content: "\e922"; }

.bech_heart2:before {
  content: "\e923"; }

.bech_person2:before {
  content: "\e924"; }

.bech_public2:before {
  content: "\e925"; }

.bech_share_arrow2:before {
  content: "\e926"; }

.bech_share:before {
  content: "\e927"; }

.bech_star:before {
  content: "\e928"; }

.bech_two_user2:before {
  content: "\e929"; }

.bech_user2:before {
  content: "\e92a"; }

.bech_add_user:before {
  content: "\e92b"; }

.bech_contacts:before {
  content: "\e92c"; }

.bech_domain:before {
  content: "\e92d"; }

.bech_emoticons_angry:before {
  content: "\e92e"; }

.bech_emoticons_astonished2:before {
  content: "\e92f"; }

.bech_emoticons_happy2:before {
  content: "\e930"; }

.bech_emoticons_sad:before {
  content: "\e931"; }

.bech_emoticons_shame:before {
  content: "\e932"; }

.bech_emoticons_sleepy:before {
  content: "\e933"; }

.bech_emoticons_smile_more:before {
  content: "\e934"; }

.bech_emoticons_smile:before {
  content: "\e935"; }

.bech_emoticons_very_sad:before {
  content: "\e936"; }

.bech_emoticons_very_satisfied:before {
  content: "\e937"; }

.bech_heart:before {
  content: "\e938"; }

.bech_person:before {
  content: "\e939"; }

.bech_public:before {
  content: "\e93a"; }

.bech_share_arrow:before {
  content: "\e93b"; }

.bech_share2:before {
  content: "\e93c"; }

.bech_star2:before {
  content: "\e93d"; }

.bech_two_user:before {
  content: "\e93e"; }

.bech_user:before {
  content: "\e93f"; }

.bech_-identity:before {
  content: "\e940"; }

.bech_keys:before {
  content: "\e941"; }

.bech_padlock_close:before {
  content: "\e942"; }

.bech_padlock_open:before {
  content: "\e943"; }

.bech_safe:before {
  content: "\e944"; }

.bech_alarm_clock:before {
  content: "\e945"; }

.bech_alert_circle:before {
  content: "\e946"; }

.bech_alert_dialog:before {
  content: "\e947"; }

.bech_alert_info:before {
  content: "\e948"; }

.bech_alert_news:before {
  content: "\e949"; }

.bech_alert_triangle:before {
  content: "\e94a"; }

.bech_blocked:before {
  content: "\e94b"; }

.bech_conversation_dialog:before {
  content: "\e94c"; }

.bech_file_check2:before {
  content: "\e94d"; }

.bech_file_error:before {
  content: "\e94e"; }

.bech_help_circle:before {
  content: "\e94f"; }

.bech_help_dialog:before {
  content: "\e950"; }

.bech_notifications:before {
  content: "\e951"; }

.bech_refresh_time:before {
  content: "\e952"; }

.bech_sad_dialog:before {
  content: "\e953"; }

.bech_smile_dialog:before {
  content: "\e954"; }

.bech_text_dialog:before {
  content: "\e955"; }

.bech_time:before {
  content: "\e956"; }

.bech_wait_dialog:before {
  content: "\e957"; }

.bech_arrow_back_ios:before {
  content: "\e958"; }

.bech_arrow_down_circle:before {
  content: "\e959"; }

.bech_arrow_down_ios:before {
  content: "\e95a"; }

.bech_arrow_down:before {
  content: "\e95b"; }

.bech_arrow_left_circle:before {
  content: "\e95c"; }

.bech_arrow_left:before {
  content: "\e95d"; }

.bech_arrow_next_ios:before {
  content: "\e95e"; }

.bech_arrow_right_circle:before {
  content: "\e95f"; }

.bech_arrow_right:before {
  content: "\e960"; }

.bech_arrow_up_circle:before {
  content: "\e961"; }

.bech_arrow_up_ios:before {
  content: "\e962"; }

.bech_arrow_up:before {
  content: "\e963"; }

.bech_cancel:before {
  content: "\e964"; }

.bech_check:before {
  content: "\e965"; }

.bech_chevron_down:before {
  content: "\e966"; }

.bech_chevron_left:before {
  content: "\e967"; }

.bech_chevron_right:before {
  content: "\e968"; }

.bech_chevron_up:before {
  content: "\e969"; }

.bech_circle_arrow_down:before {
  content: "\e96a"; }

.bech_circle_arrow_left:before {
  content: "\e96b"; }

.bech_circle_arrow_right:before {
  content: "\e96c"; }

.bech_circle_arrow_up:before {
  content: "\e96d"; }

.bech_dashboard:before {
  content: "\e96e"; }

.bech_file_check:before {
  content: "\e96f"; }

.bech_file_first:before {
  content: "\e970"; }

.bech_file_second:before {
  content: "\e971"; }

.bech_fullscreen:before {
  content: "\e972"; }

.bech_geo:before {
  content: "\e973"; }

.bech_menu:before {
  content: "\e974"; }

.bech_minus_circle:before {
  content: "\e975"; }

.bech_more_horiz:before {
  content: "\e976"; }

.bech_more_vert:before {
  content: "\e977"; }

.bech_payroll_authorization:before {
  content: "\e978"; }

.bech_pin_geo:before {
  content: "\e979"; }

.bech_plus_circle:before {
  content: "\e97a"; }

.bech_refresh:before {
  content: "\e97b"; }

.bech_accessibility:before {
  content: "\e97c"; }

.bech_android_logo:before {
  content: "\e97d"; }

.bech_apple_logo:before {
  content: "\e97e"; }

.bech_brain:before {
  content: "\e97f"; }

.bech_call_center:before {
  content: "\e980"; }

.bech_cloud_rain:before {
  content: "\e981"; }

.bech_cocktail:before {
  content: "\e982"; }

.bech_crown:before {
  content: "\e983"; }

.bech_faucet:before {
  content: "\e984"; }

.bech_flower:before {
  content: "\e985"; }

.bech_gas:before {
  content: "\e986"; }

.bech_gasoline_station:before {
  content: "\e987"; }

.bech_gift_box:before {
  content: "\e988"; }

.bech_glass_water:before {
  content: "\e989"; }

.bech_glasses:before {
  content: "\e98a"; }

.bech_hand_open:before {
  content: "\e98b"; }

.bech_heart_signal:before {
  content: "\e98c"; }

.bech_light_on:before {
  content: "\e98d"; }

.bech_lightning:before {
  content: "\e98e"; }

.bech_music_tone:before {
  content: "\e98f"; }

.bech_nature_leaf:before {
  content: "\e990"; }

.bech_organization_chart:before {
  content: "\e991"; }

.bech_plug_double:before {
  content: "\e992"; }

.bech_plug_triple:before {
  content: "\e993"; }

.bech_presentation_chart:before {
  content: "\e994"; }

.bech_presentation_percent:before {
  content: "\e995"; }

.bech_puzzle:before {
  content: "\e996"; }

.bech_sand_clock:before {
  content: "\e997"; }

.bech_shirt:before {
  content: "\e998"; }

.bech_shop:before {
  content: "\e999"; }

.bech_shopping_bag:before {
  content: "\e99a"; }

.bech_shopping_cart:before {
  content: "\e99b"; }

.bech_table:before {
  content: "\e99c"; }

.bech_tea:before {
  content: "\e99d"; }

.bech_trophy:before {
  content: "\e99e"; }

.bech_umbrella2:before {
  content: "\e99f"; }

.bech_water_drop:before {
  content: "\e9a0"; }

.bech_wine:before {
  content: "\e9a1"; }

.bech_book_open:before {
  content: "\e9a2"; }

.bech_book_search:before {
  content: "\e9a3"; }

.bech_book:before {
  content: "\e9a4"; }

.bech_certificate_search:before {
  content: "\e9a5"; }

.bech_copy_file:before {
  content: "\e9a6"; }

.bech_file_logo_pdf:before {
  content: "\e9a7"; }

.bech_file_pdf:before {
  content: "\e9a8"; }

.bech_file_search:before {
  content: "\e9a9"; }

.bech_file_text:before {
  content: "\e9aa"; }

.bech_file:before {
  content: "\e9ab"; }

.bech_folder:before {
  content: "\e9ac"; }

.bech_format_list:before {
  content: "\e9ad"; }

.bech_layers:before {
  content: "\e9ae"; }

.bech_news:before {
  content: "\e9af"; }

.bech_battery_charge:before {
  content: "\e9b0"; }

.bech_battery_empty:before {
  content: "\e9b1"; }

.bech_battery_full:before {
  content: "\e9b2"; }

.bech_battery_low:before {
  content: "\e9b3"; }

.bech_battery_medium:before {
  content: "\e9b4"; }

.bech_bluetooth:before {
  content: "\e9b5"; }

.bech_brightness_high:before {
  content: "\e9b6"; }

.bech_brightness_low:before {
  content: "\e9b7"; }

.bech_moon:before {
  content: "\e9b8"; }

.bech_plane:before {
  content: "\e9b9"; }

.bech_volume_high:before {
  content: "\e9ba"; }

.bech_volume_low:before {
  content: "\e9bb"; }

.bech_volume_muted:before {
  content: "\e9bc"; }

.bech_wifi_disable:before {
  content: "\e9bd"; }

.bech_wifi_signal:before {
  content: "\e9be"; }

.bech_at_symbol:before {
  content: "\e9bf"; }

.bech_attach_file:before {
  content: "\e9c0"; }

.bech_download_cloud:before {
  content: "\e9c1"; }

.bech_download:before {
  content: "\e9c2"; }

.bech_mail_open:before {
  content: "\e9c3"; }

.bech_mail:before {
  content: "\e9c4"; }

.bech_mouse_cursor:before {
  content: "\e9c5"; }

.bech_network:before {
  content: "\e9c6"; }

.bech_phone_circle:before {
  content: "\e9c7"; }

.bech_phone:before {
  content: "\e9c8"; }

.bech_atm:before {
  content: "\e9c9"; }

.bech_bag_clock:before {
  content: "\e9ca"; }

.bech_bag_money:before {
  content: "\e9cb"; }

.bech_balance:before {
  content: "\e9cc"; }

.bech_bank:before {
  content: "\e9cd"; }

.bech_bip:before {
  content: "\e9ce"; }

.bech_card_hand:before {
  content: "\e9cf"; }

.bech_card_lock:before {
  content: "\e9d0"; }

.bech_card_web:before {
  content: "\e9d1"; }

.bech_card:before {
  content: "\e9d2"; }

.bech_cell_lock:before {
  content: "\e9d3"; }

.bech_chart_money:before {
  content: "\e9d4"; }

.bech_check_money:before {
  content: "\e9d5"; }

.bech_cheque:before {
  content: "\e9d6"; }

.bech_dollar_convert_euro:before {
  content: "\e9d7"; }

.bech_dollar:before {
  content: "\e9d8"; }

.bech_hand_bag:before {
  content: "\e9d9"; }

.bech_hand_money:before {
  content: "\e9da"; }

.bech_identity_card:before {
  content: "\e9db"; }

.bech_invest:before {
  content: "\e9dc"; }

.bech_money:before {
  content: "\e9dd"; }

.bech_note_edit:before {
  content: "\e9de"; }

.bech_notebook_lock:before {
  content: "\e9df"; }

.bech_pago_clic:before {
  content: "\e9e0"; }

.bech_password:before {
  content: "\e9e1"; }

.bech_pc_lock:before {
  content: "\e9e2"; }

.bech_pig_money:before {
  content: "\e9e3"; }

.bech_solicit_card:before {
  content: "\e9e4"; }

.bech_symbol_dollar:before {
  content: "\e9e5"; }

.bech_three_bag:before {
  content: "\e9e6"; }

.bech_token:before {
  content: "\e9e7"; }

.bech_transfer_step_one:before {
  content: "\e9e8"; }

.bech_transfer_step_two:before {
  content: "\e9e9"; }

.bech_transfer:before {
  content: "\e9ea"; }

.bech_two_card:before {
  content: "\e9eb"; }

.bech_umbrella:before {
  content: "\e9ec"; }

.bech_wallet_card:before {
  content: "\e9ed"; }

.bech_wallet:before {
  content: "\e9ee"; }

.bech_briefcase:before {
  content: "\e9ef"; }

.bech_calendar:before {
  content: "\e9f0"; }

.bech_cash_security:before {
  content: "\e9f1"; }

.bech_edit:before {
  content: "\e9f2"; }

.bech_enter_section:before {
  content: "\e9f3"; }

.bech_exit:before {
  content: "\e9f4"; }

.bech_eye_close:before {
  content: "\e9f5"; }

.bech_eye_open:before {
  content: "\e9f6"; }

.bech_first_aids_kit:before {
  content: "\e9f7"; }

.bech_fix:before {
  content: "\e9f8"; }

.bech_heal_security:before {
  content: "\e9f9"; }

.bech_highlight_off:before {
  content: "\e9fa"; }

.bech_home:before {
  content: "\e9fb"; }

.bech_interact_circle:before {
  content: "\e9fc"; }

.bech_interact:before {
  content: "\e9fd"; }

.bech_pin:before {
  content: "\e9fe"; }

.bech_power_on:before {
  content: "\e9ff"; }

.bech_search_circle:before {
  content: "\ea00"; }

.bech_search:before {
  content: "\ea01"; }

.bech_send_mail:before {
  content: "\ea02"; }

.bech_settings:before {
  content: "\ea03"; }

.bech_tag:before {
  content: "\ea04"; }

.bech_trash:before {
  content: "\ea05"; }

.spinner-bech, .spinner:after {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.spinner-bech {
  background-color: transparent;
  border-top: 5px solid #ff9100;
  border-right: 5px solid #ff9100;
  border-bottom: 5px solid #ff9100;
  border-left: 5px solid rgba(255, 145, 0, 0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: .8s;
  animation-name: spinner-loading;
  margin: 0 auto;
  text-align: center; }

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }
.texto-bajada-spinner {
  text-align: center;
  color: #2C3038;
  margin: 15px 0;
  font-weight: 100;
  font-size: 14px; }

.collapsible-bech {
  height: 48px;
  background-color: #ffffff;
  border-bottom: none;
  background-color: transparent; }
  .collapsible-bech__title {
    color: #2C3038;
    font-weight: 700; }
  .collapsible-bech a {
    text-decoration: none; }

.collapsible-bech-card {
  border: none;
  margin-bottom: 20px;
  box-shadow: inset 0 -1px 0 0 #E1E4E7; }

.collapsible-bech__icon-title a:after {
  font-family: 'BECH';
  content: "\e969";
  float: right;
  font-size: 32px;
  font-weight: 800;
  color: #FF9100;
  margin-top: -28px; }

.collapsible-bech__icon-title a.collapsed:after {
  font-family: 'BECH';
  content: "\e966";
  color: #FF9100;
  box-shadow: none; }

.checkbox-bech {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 34px;
  line-height: 18px; }

.checkbox-bech > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: -1;
  left: -20px;
  top: -12px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.42);
  outline: none;
  opacity: 0;
  transform: scale(1);
  -ms-transform: scale(0);
  /* Graceful degradation for IE */
  transition: opacity 0.5s, transform 0.5s; }

.checkbox-bech > input:checked {
  background-color: #FF9100; }

.checkbox-bech:active > input {
  opacity: 1;
  transform: scale(0);
  transition: opacity 0s, transform 0s; }

.checkbox-bech > input:disabled {
  opacity: 0; }

.checkbox-bech > input:disabled + span {
  cursor: initial; }

.checkbox-bech > span::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  border: solid 2px rgba(0, 0, 0, 0.42);
  border-radius: 2px;
  width: 20px;
  height: 20px;
  vertical-align: -4px;
  transition: border-color 0.5s, background-color 0.5s; }

.checkbox-bech > input:checked + span::before {
  border-color: #FF9100;
  background-color: #FF9100; }

.checkbox-bech > input:active + span::before {
  border-color: #FF9100; }

.checkbox-bech > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.42); }

.checkbox-bech > input:disabled + span::before {
  border-color: rgba(0, 0, 0, 0.26); }

.checkbox-bech > input:checked:disabled + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.26); }

.checkbox-bech > span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 14px;
  border: solid 2px transparent;
  border-left: none;
  border-top: none;
  transform: translate(6.6px, 6px) rotate(45deg);
  -ms-transform: translate(5.5px, 2px) rotate(45deg); }

.checkbox-bech > input:checked + span::after {
  border-color: #fff; }

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }
.radio-bech {
  margin: 16px 0; }
  .radio-bech.radio-inline {
    display: inline-block; }
  .radio-bech input[type="radio"] {
    display: none; }
    .radio-bech input[type="radio"]:checked + label:before {
      border-color: #FF9100;
      animation: ripple 0.2s linear forwards; }
    .radio-bech input[type="radio"]:checked + label:after {
      transform: scale(1); }
  .radio-bech label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom; }
    .radio-bech label:before, .radio-bech label:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: all .3s ease;
      transition-property: transform, border-color; }
    .radio-bech label:before {
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #FF9100; }
    .radio-bech label:after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      transform: scale(0);
      background: #FF9100; }

.modal-bech__content {
  border-radius: 6px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.18), 0 0 8px 2px rgba(0, 0, 0, 0.08); }
.modal-bech__dialog {
  margin: 1.5rem; }
.modal-bech__icon:after {
  font-family: 'BECH';
  content: "\e931";
  font-size: 72px;
  color: #06C790;
  display: block;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 5px; }
.modal-bech__title {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px; }
.modal-bech__text {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #2C3038;
  margin-bottom: 24px; }

.modal-dialog {
  max-width: 100%; }

.modal-body--bech {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px; }

.steps-bech .stp3 .point, .steps-bech .stp4 .point, .steps-bech .stp5 .point {
  width: 15px;
  height: 15px;
  border: 1px solid #C3C7CE;
  border-radius: 50%;
  background-color: #C3C7CE;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  color: #868C99; }
  .steps-bech .stp3 .active.point, .steps-bech .stp4 .active.point, .steps-bech .stp5 .active.point {
    background-color: #FF9100;
    border: 1px solid #FF9100;
    animation-duration: .4s;
    animation-name: destacado;
    color: #ffffff; }
  .steps-bech .stp3 .past.point, .steps-bech .stp4 .past.point, .steps-bech .stp5 .past.point {
    background-color: #06C790;
    border: 1px solid #06C790;
    line-height: 0px;
    font-size: 13px;
    color: #ffffff; }
  .steps-bech .stp3 .left.point, .steps-bech .stp4 .left.point, .steps-bech .stp5 .left.point {
    float: left; }
  .steps-bech .stp3 .right.point, .steps-bech .stp4 .right.point, .steps-bech .stp5 .right.point {
    float: right; }

.steps-bech {
  border-bottom: 1px solid #C3C7CE;
  height: 8px;
  width: 100%;
  margin: 10px 10% 20px; }
  .steps-bech .stp3 {
    width: 33.3%;
    height: 10px;
    float: left; }
  .steps-bech .stp4 {
    width: 33%;
    height: 10px;
    float: left; }
    .steps-bech .stp4:nth-child(2), .steps-bech .stp4:nth-child(3) {
      width: 17%; }
  .steps-bech .stp5 {
    width: 23%;
    height: 10px;
    float: left; }
    .steps-bech .stp5:nth-child(2), .steps-bech .stp5:nth-child(3), .steps-bech .stp5:nth-child(4) {
      width: 18%; }

@keyframes destacado {
  from {
    background-color: rgba(255, 145, 0, 0);
    width: 40px;
    height: 40px;
    margin-top: -18px;
    border: none; }
  to {
    background-color: #FF9100;
    width: 10px;
    height: 10px; } }
.popover {
  border-color: #FFBD65; }

.popover-header {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-bottom: none;
  margin-bottom: 0; }

.popover-body {
  line-height: 20px;
  font-size: 14px;
  color: #868C99;
  margin-bottom: 5px;
  border-color: #FFBD65; }

.swipper-bech {
  margin: 15px auto;
  padding-bottom: 20px; }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  display: none; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

/* fullscreen v1.0.1
------------------------- */
.flickity-enabled.is-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding-bottom: 35px;
  z-index: 1; }

.flickity-enabled.is-fullscreen .flickity-page-dots {
  bottom: 10px; }

.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
  background: white; }

/* prevent page scrolling when flickity is fullscreen */
html.is-flickity-fullscreen {
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.gallery {
  background: none; }

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #3E50B4;
  counter-increment: gallery-cell;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #868C99; }

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  /*font-size: 80px;*/
  color: white; }

select ~ :after {
  display: none; }

.input-bech-label.bech-select {
  position: relative; }
  .input-bech-label.bech-select.disabled {
    pointer-events: none; }
    .input-bech-label.bech-select.disabled select {
      color: #868C99;
      font-weight: 400;
      background: #f7f7f7; }
    .input-bech-label.bech-select.disabled:after {
      opacity: 0.6; }
  .input-bech-label.bech-select select {
    appearance: none;
    padding-right: 32px; }
  .input-bech-label.bech-select:after {
    font-family: 'BECH';
    content: "\e966";
    color: #FF9100;
    float: right;
    font-size: 32px;
    font-weight: 800;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 22px;
    margin-right: 8px;
    pointer-events: none; }

.input-bech-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative; }
  .input-bech-label label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    color: #2C3038;
    transition: 0.25s ease-in-out; }
  .input-bech-label:focus-within label {
    color: #FF9100; }
  .input-bech-label.input-prefix .prefix {
    position: absolute;
    top: 32px;
    left: 16px;
    font-weight: 700; }
  .input-bech-label.input-prefix input {
    padding-left: 62px; }
  .input-bech-label input, .input-bech-label select, .input-bech-label textarea {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #C3C7CE;
    padding: 9px 16px;
    line-height: 20px;
    font-size: 1.000em;
    font-weight: 700;
    transition: 0.25s ease-in-out;
    color: #2C3038;
    -webkit-appearance: none; }
    .input-bech-label input::placeholder, .input-bech-label select::placeholder, .input-bech-label textarea::placeholder {
      color: #868C99;
      font-weight: 400; }
    .input-bech-label input:active, .input-bech-label select:active, .input-bech-label textarea:active {
      border: solid 1px #FF9100;
      color: #2C3038; }
    .input-bech-label input:focus, .input-bech-label select:focus, .input-bech-label textarea:focus {
      outline: 0;
      border: solid 1px #FF9100;
      color: #2C3038; }
    .input-bech-label input:focus + label, .input-bech-label select:focus + label, .input-bech-label textarea:focus + label {
      color: #cc0000 !important; }
    .input-bech-label input:disabled, .input-bech-label select:disabled, .input-bech-label textarea:disabled {
      font-weight: 400; }
      .input-bech-label input:disabled:after, .input-bech-label select:disabled:after, .input-bech-label textarea:disabled:after {
        display: none; }
  .input-bech-label .info-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #868C99;
    font-weight: 600; }
    .input-bech-label .info-text:empty {
      margin: 0; }
    .input-bech-label .info-text--error {
      color: #D64040; }

input.ng-invalid.ng-dirty.ng-invalid.ng-touched {
  border: solid 1px #D64040; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.button-bech--primary, .button-bech--secondary, .button-bech--accent, .button-bech--accent2, .button-bech--disable, .button-bech--disable2 {
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-position: center;
  transition: background 0.8s;
  text-align: center;
  width: 90%;
  margin: 8px 5%;
  height: 44px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600; }
  .small.button-bech--primary, .small.button-bech--secondary, .small.button-bech--accent, .small.button-bech--accent2, .small.button-bech--disable, .small.button-bech--disable2 {
    width: 48%;
    margin: 8px 1%;
    height: 34px;
    line-height: 15px;
    font-weight: 600;
    font-size: 13px;
    float: left; }
  .center.button-bech--primary, .center.button-bech--secondary, .center.button-bech--accent, .center.button-bech--accent2, .center.button-bech--disable, .center.button-bech--disable2 {
    margin: 8px auto;
    float: none; }

.button-bech--primary {
  background: #FF9100;
  border: 2px solid #FF9100;
  color: #FFFFFF; }
  .button-bech--primary:hover {
    background: #FF9100 radial-gradient(circle, transparent 1%, #FF9100 1%) center/15000%;
    border: 2px solid #FF9100;
    text-decoration: none;
    color: #ffffff; }
  .button-bech--primary:active {
    background-color: #FFBD65 !important;
    background-size: 100%;
    transition: background 0s; }

.button-bech--secondary {
  background: none;
  border: 2px solid #FF9100;
  color: #FF9100; }
  .button-bech--secondary:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
    border: 2px solid #FF9100;
    text-decoration: none;
    color: #FF9100; }
  .button-bech--secondary:active {
    background-color: #FFBD65;
    background-size: 100%;
    transition: background 0s; }

.button-bech--accent {
  background: #3E50B4;
  border: 2px solid #3E50B4;
  color: #FFFFFF; }
  .button-bech--accent:hover {
    background: #3E50B4 radial-gradient(circle, transparent 1%, #3E50B4 1%) center/15000%;
    border: 2px solid #3E50B4;
    text-decoration: none;
    color: #ffffff; }
  .button-bech--accent:active {
    background-color: #7784CA;
    background-size: 100%;
    transition: background 0s; }

.button-bech--accent2 {
  background: none;
  border: 2px solid #3E50B4;
  color: #3E50B4; }
  .button-bech--accent2:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
    border: 2px solid #3E50B4;
    text-decoration: none;
    color: #3E50B4; }
  .button-bech--accent2:active {
    background-color: #7784CA;
    background-size: 100%;
    transition: background 0s; }

.button-bech--disable {
  box-shadow: none;
  background: #E1E4E7;
  border: 2px solid #E1E4E7;
  color: #C3C7CE; }
  .button-bech--disable:hover {
    background: #E1E4E7;
    text-decoration: none;
    color: #C3C7CE; }

.button-bech--disable2 {
  box-shadow: none;
  background: none;
  border: 2px solid #E1E4E7;
  color: #E1E4E7; }
  .button-bech--disable2:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
    border: 2px solid #E1E4E7;
    text-decoration: none;
    color: #E1E4E7; }

.button-bech-text {
  font-weight: 700;
  font-size: 16px;
  color: #3E50B4; }
  .button-bech-text--modal {
    font-weight: 700;
    font-size: 16px;
    color: #3E50B4;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    background: none;
    border: none; }

.table-bech__activo {
  background-color: #FF9100;
  color: #ffffff; }
.table-bech__success {
  background-color: #06C790;
  color: #ffffff; }

.header-bech {
  background: -webkit-linear-gradient(left, #fb9d15 0%, #ef7340 100%);
  background: -o-linear-gradient(left, #fb9d15 0%, #ef7340 100%);
  background: -ms-linear-gradient(left, #fb9d15 0%, #ef7340 100%);
  background: -moz-linear-gradient(left, #fb9d15 0%, #ef7340 100%);
  background: linear-gradient(to right, #fb9d15 0%, #ef7340 100%);
  height: 56px;
  line-height: 55px;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px; }
  .header-bech__triangle {
    background: rgba(0, 0, 0, 0.03);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 64% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 64% 100%);
    height: 56px;
    width: 100px;
    margin-bottom: -56px;
    float: right; }
  .header-bech__back {
    font-size: 32px;
    line-height: 60px;
    text-align: center; }

.header-bech-notification {
  font-size: 27px;
  line-height: 60px;
  text-align: center; }
  .header-bech-notification .content-number {
    margin-left: 31px; }
    .header-bech-notification .content-number span {
      background-color: #3E50B4;
      color: #ffffff;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      padding: 3px;
      font-size: 10px;
      z-index: 50000;
      font-weight: 200;
      margin: -50px auto;
      display: block;
      line-height: 13px;
      text-align: center; }

.alert-bech {
  background-color: #2C3038;
  color: #ffffff;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 0px;
  border: none; }
  .alert-bech .close {
    color: #ffffff;
    opacity: 1;
    text-shadow: none; }

.alert-bech-ok {
  background-color: #06C790;
  color: #ffffff;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 0px;
  border: none; }
  .alert-bech-ok .close {
    color: #ffffff;
    opacity: 1;
    text-shadow: none; }

.card .full {
  font-size: 3.5em;
  color: #dddddd;
  text-align: center; }
.card.quitar-borde {
  border: none; }
.card .card-body.sin-padding {
  padding: 1.25rem 0px; }

.card-only__card-back {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: block;
  width: 320px;
  margin: 60px auto;
  position: relative;
  text-align: center;
  padding: 16px; }
.card-only__title {
  display: block;
  font-weight: 800;
  font-size: 1.2rem;
  color: #3E50B4;
  letter-spacing: 0; }
.card-only__icon:after {
  font-family: 'BECH';
  content: "\e93f";
  font-size: 34px;
  font-weight: 100;
  color: #FF9100;
  height: 24px;
  width: 24px;
  margin-top: -10px;
  display: block; }
.card-only__text {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: #2C3038;
  letter-spacing: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.card-credit__card-back {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: block;
  height: 165px;
  width: 296px;
  margin: 60px auto;
  position: relative;
  text-align: left; }
.card-credit__title {
  border-radius: 5px;
  font-weight: 600;
  margin-left: 25px;
  font-size: 1rem; }
.card-credit__account-holder {
  display: inline-block;
  font-weight: 200;
  font-size: 0.9rem;
  color: #868C99;
  margin-top: 12px; }
.card-credit__visa-logo {
  float: right;
  display: block;
  background: url("~bech-estilos/assets/img/visa.png") no-repeat top center;
  width: 48px;
  height: 32px;
  margin-top: 17px;
  margin-right: 10px; }
.card-credit__card-number {
  color: #2C3038;
  bottom: 110px;
  font-size: 0.8rem;
  font-weight: 600;
  left: 25px;
  position: absolute;
  letter-spacing: 0.10rem; }
.card-credit__national {
  color: #2C3038;
  bottom: 95px;
  left: 20px;
  position: absolute;
  font-weight: 800;
  font-size: 12px; }
.card-credit__national.front {
  left: 190px; }
.card-credit__inter {
  color: #2C3038;
  bottom: 95px;
  left: 20px;
  position: absolute;
  font-weight: 800;
  font-size: 12px; }
.card-credit__inter.front {
  left: 190px; }
.card-credit__available {
  color: #868C99;
  bottom: 70px;
  left: 25px;
  position: absolute;
  font-weight: 400;
  font-size: 12px; }
.card-credit__available.front {
  left: 190px; }
.card-credit__available--inter {
  color: #868C99;
  bottom: 70px;
  left: 20px;
  position: absolute;
  font-weight: 400;
  font-size: 12px; }
.card-credit__available--inter.front {
  left: 190px; }
.card-credit__available--number {
  color: #2C3038;
  bottom: 44px;
  left: 25px;
  position: absolute;
  font-weight: 800;
  font-size: 1.3rem; }
.card-credit__available--number.front {
  left: 190px; }
.card-credit__used_number {
  color: #2C3038;
  bottom: 20px;
  left: 25px;
  position: absolute;
  font-weight: 400;
  font-size: 1rem; }
.card-credit__used_number.front {
  left: 190px; }
.card-credit__border-card {
  -webkit-clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
  clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
  width: 64px;
  height: 165px;
  background: #D9DBE0;
  border-radius: 8px 0 0 8px;
  position: absolute; }

.item-bech__back {
  background-color: #FAFAFA;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px; }
.item-bech__avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 13px;
  margin-right: 16px;
  background-image: url("~bech-estilos/assets/img/patito_40x40.png"); }
.item-bech__icon:after {
  font-family: 'BECH';
  content: "\e931";
  font-size: 46px;
  color: #3E50B4;
  margin-right: 10px; }
.item-bech__title {
  font-size: 1.2rem;
  color: #2C3038;
  letter-spacing: 0;
  font-weight: 800;
  position: absolute;
  margin-top: 13px; }
.item-bech__text {
  font-size: 1rem;
  color: #2C3038;
  letter-spacing: 0;
  font-weight: 400;
  position: absolute;
  margin-top: 34px; }
.item-bech__bubble {
  background-image: linear-gradient(-230deg, #E86051 0%, #FFA90A 55%, #FFB10A 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  height: 14px;
  width: 14px;
  border-radius: 100px;
  position: absolute;
  margin-top: 40px;
  margin-left: -26px; }

.item-bech-alone__back {
  background-color: #FAFAFA;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px; }
.item-bech-alone__title {
  font-size: 1.2rem;
  color: #2C3038;
  letter-spacing: 0;
  font-weight: 800;
  margin-top: 11px;
  margin-left: 10px;
  display: block;
  padding-bottom: 6px; }
  .item-bech-alone__title:after {
    font-family: 'BECH';
    content: "\e93f";
    float: right;
    font-size: 32px;
    font-weight: 100;
    color: #FF9100;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-right: 20px; }
.item-bech-alone__title--two-line {
  font-size: 1.2rem;
  color: #2C3038;
  letter-spacing: 0;
  font-weight: 800;
  margin-top: 11px;
  margin-left: 10px;
  display: block;
  padding-bottom: 6px; }
.item-bech-alone__text {
  display: block;
  font-weight: 400;
  margin-left: 10px;
  margin-top: -6px;
  padding-bottom: 6px; }
  .item-bech-alone__text:after {
    font-family: 'BECH';
    content: "\e93f";
    float: right;
    font-size: 32px;
    font-weight: 100;
    color: #FF9100;
    height: 20px;
    width: 20px;
    margin-top: -25px;
    margin-right: 20px; }

.item-bech__content-linea:after {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #EAECEE;
  display: block; }

.item-bech__capsule {
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  margin: 16px;
  padding: 12px; }

.item-bech__capsule--no-border-radius {
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #E1E4E7;
  margin: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px; }

.back-for-test {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #F3F3F3; }

/*# sourceMappingURL=main.css.map */
