// COLORES
$bech_color: #FF9100;
$bech_color2: #FFBD65;

$font_color: #2C3038;
$font_color2: #868C99; /* $spinner */

$accent_color: #3E50B4;
$accent_color2: #7784CA;

$green_color: #06C790; /* success */
$red_color: #D64040; /* $border-invalid */

$border_color: #C3C7CE; /* border_color */
$text-disable: #C3C7CE;
$bg_color: #F6F7F8;
$disable: #E1E4E7;

$font-family: 'Nunito Sans';
$font-path: "./~/assets";


