//Card solo

.card-only {
  &__card-back {
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
    display: block;
    width: 320px;
    margin: 60px auto;
    position: relative;
    text-align: center;
    padding: 16px;
  } 

  &__title {
    display: block;
    font-weight: 800;
    font-size: 1.2rem;
    color: $accent_color;
    letter-spacing: 0;
  }

  &__icon {
    &:after {
      font-family: 'BECH';
      content: "\e93f";
      font-size:34px;
      font-weight:100;
      color: $bech_color;
      height: 24px;
      width: 24px;
      margin-top: -10px;
      display: block;
    }
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: 1rem;
    color: $font_color;
    letter-spacing: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

//Card Credit

.card-credit {
  &__card-back {
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
    display: block;
    height: 165px;
    width: 296px;
    margin: 60px auto;
    position: relative;
    text-align: left;
  }

  &__title {
    border-radius: 5px;
    font-weight: 600;
    margin-left: 25px;
    font-size: 1rem;
  }

  &__account-holder {
    display: inline-block;
    font-weight: 200;
    font-size: 0.9rem;
    color: $font_color2;
    margin-top: 12px;
  }

  &__visa-logo {
    float: right;
    display: block;
    background: url("#{$img-path}/img/visa.png") no-repeat top center;
    width: 48px;
    height: 32px;
    margin-top: 17px;
    margin-right: 10px;
  }
  
  &__card-number {
    color:$font_color;
    bottom: 110px;
    font-size: 0.8rem;
    font-weight: 600;
    left: 25px;
    position: absolute;
    letter-spacing: 0.10rem;
  }
  
  &__national {
    color: $font_color;
    bottom: 95px;
    left: 20px;
    position: absolute;
    font-weight: 800;
    font-size: 12px;
  }
  
  &__national.front {
    left: 190px;
  }
  
  &__inter {
    color: $font_color;
    bottom: 95px;
    left: 20px;
    position: absolute;
    font-weight: 800;
    font-size: 12px;
  }
  
  &__inter.front {
    left: 190px;
  }

  &__available  {
    color: $font_color2;
    bottom: 70px;
    left: 25px;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
  }
  
  &__available.front {
    left: 190px;
  }
  
  &__available--inter  {
    color: $font_color2;
    bottom: 70px;
    left: 20px;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
  }
  
  &__available--inter.front {
    left: 190px;
  }

  &__available--number  {
    color: $font_color;
    bottom: 44px;
    left: 25px;
    position: absolute;
    font-weight: 800;
    font-size: 1.3rem;
  }
  
  &__available--number.front {
    left: 190px;
  }
  
  &__used_number {
    color: $font_color;
    bottom: 20px;
    left: 25px;
    position: absolute;
    font-weight: 400;
    font-size: 1rem;
  }
  
  &__used_number.front {
    left: 190px;
  }
  
  &__border-card {
  -webkit-clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
  clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
  width: 64px;
  height: 165px;
  background: #D9DBE0;
  border-radius: 8px 0 0 8px;
  position: absolute;
}

}







